.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  width: inherit;
  height: inherit;
  text-transform: inherit;
  cursor: pointer;
  font: inherit;

  &.disabled {
    background: rgba( #fff, .3 );
    color: var(--secondary-color);
    cursor: not-allowed;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a, span {
    font: inherit;
    text-transform: inherit;
    color: var(--secondary-color);

    &:hover {
      text-decoration: none;
    }
  }

  a {
    width: inherit;
    height: inherit;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY( 1px );
  }

  &.disabled {
    transform: translateY( 0 );
  }
}

.button-primary {
  background-color: var(--primary-color);
  color: var( --font-color );
  margin: auto;
  width: 100%;
  padding: 15px 33px;
}
.button-menu {
  border: none;
  background: none;
  border-radius: 50%;
  outline: none;
}

@media ( max-width: 480px ) {
  .button-primary {
    padding: 10px 33px;
  }
}